html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Plus Jakarta Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  overflow: hidden;
  background: #eef2ff;
}